## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
import os

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns= ['EIN', 'NAME'], axis=1, inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count.head(15)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_greater1 = classification_count.loc[classification_count > 1]
classification_greater1.head(10)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count < 350].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_data = pd.get_dummies(application_df)
numeric_data = numeric_data.astype(int)
numeric_data.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = numeric_data ['IS_SUCCESSFUL']
X = numeric_data.drop(columns='IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

First attempt. 

Two hidden layers.

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train_scaled[0])
hidden_nodes_layer_1 = 10
hidden_nodes_layer_2 = 5

# Initialize the Sequential model
nn = tf.keras.models.Sequential()

# Explicit Input layer
nn.add(tf.keras.layers.Input(shape=(input_features_total,)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_11 (Dense)                │ (None, 10)             │           450 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_12 (Dense)                │ (None, 5)              │            55 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 511 (2.00 KB)

 Trainable params: 511 (2.00 KB)

 Non-trainable params: 0 (0.00 B)

In [27]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 342us/step - accuracy: 0.6385 - loss: 0.6504
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7211 - loss: 0.5728
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 341us/step - accuracy: 0.7285 - loss: 0.5580
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 339us/step - accuracy: 0.7296 - loss: 0.5552
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7319 - loss: 0.5495
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7256 - loss: 0.5562
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 347us/step - accuracy: 0.7278 - loss: 0.5542
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7313 - loss: 0.5505
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7316 - loss: 0.5506
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7329 - loss: 0.5500
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7315 - loss: 0.5493
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7325 - loss: 0.5462
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7358 - loss: 0.5444
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7312 - loss: 0.5494
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 339us/step - accuracy: 0.7378 - loss: 0.5426
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7329 - loss: 0.5457
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - accuracy: 0.7330 - loss: 0.5474
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 349us/step - accuracy: 0.7366 - loss: 0.5432
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7309 - loss: 0.5455
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7310 - loss: 0.5465
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 345us/step - accuracy: 0.7337 - loss: 0.5443
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7353 - loss: 0.5449
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7382 - loss: 0.5396
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7362 - loss: 0.5451
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7373 - loss: 0.5396
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7327 - loss: 0.5452
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7319 - loss: 0.5467
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7360 - loss: 0.5386
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.7332 - loss: 0.5440
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7311 - loss: 0.5441
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7339 - loss: 0.5437
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7319 - loss: 0.5492
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7338 - loss: 0.5466
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7345 - loss: 0.5435
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7349 - loss: 0.5448
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 352us/step - accuracy: 0.7329 - loss: 0.5470
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7358 - loss: 0.5424
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7369 - loss: 0.5425
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7370 - loss: 0.5412
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7328 - loss: 0.5422
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7341 - loss: 0.5464
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7345 - loss: 0.5428
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 346us/step - accuracy: 0.7348 - loss: 0.5442
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7359 - loss: 0.5424
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7373 - loss: 0.5424
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7337 - loss: 0.5465
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7303 - loss: 0.5466
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7335 - loss: 0.5459
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7340 - loss: 0.5432
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7313 - loss: 0.5456
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 336us/step - accuracy: 0.7349 - loss: 0.5451
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7350 - loss: 0.5451
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7297 - loss: 0.5466
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7302 - loss: 0.5460
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7331 - loss: 0.5454
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7291 - loss: 0.5471
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7334 - loss: 0.5448
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 341us/step - accuracy: 0.7340 - loss: 0.5447
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7378 - loss: 0.5399
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7318 - loss: 0.5405
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7318 - loss: 0.5461
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7395 - loss: 0.5393
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7376 - loss: 0.5406
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7349 - loss: 0.5428
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 341us/step - accuracy: 0.7377 - loss: 0.5412
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7363 - loss: 0.5417
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7350 - loss: 0.5421
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7349 - loss: 0.5400
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7354 - loss: 0.5419
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7373 - loss: 0.5411
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7330 - loss: 0.5431
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7354 - loss: 0.5415
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7358 - loss: 0.5391
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7302 - loss: 0.5461
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7397 - loss: 0.5339
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7383 - loss: 0.5385
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7366 - loss: 0.5414
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 346us/step - accuracy: 0.7342 - loss: 0.5410
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7312 - loss: 0.5470
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7333 - loss: 0.5437
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7359 - loss: 0.5429
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7336 - loss: 0.5423
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7414 - loss: 0.5379
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7371 - loss: 0.5434
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 338us/step - accuracy: 0.7361 - loss: 0.5429
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7351 - loss: 0.5431
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7372 - loss: 0.5422
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7323 - loss: 0.5451
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7378 - loss: 0.5393
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7384 - loss: 0.5423
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 345us/step - accuracy: 0.7396 - loss: 0.5361
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7343 - loss: 0.5429
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7356 - loss: 0.5385
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7356 - loss: 0.5413
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7321 - loss: 0.5436
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7336 - loss: 0.5441
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 348us/step - accuracy: 0.7390 - loss: 0.5374
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7335 - loss: 0.5433
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7332 - loss: 0.5431
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7370 - loss: 0.5412

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 467us/step - accuracy: 0.7254 - loss: 0.5533
Loss: 0.5533324480056763, Accuracy: 0.7253644466400146

In [16]:
#nn.save('Models/AlphabetSoupCharity3.h5')
#Warning: this file format is considered legacy. We recommend using instead the native Keras format,

In [30]:
# Save the model using the native Keras format

nn.save('Models/AlphabetSoupCharity1.keras')

A loss value of 55 indicates that the model can be further optimized.

The accuracy percent shows that 72% of the model's predicted values align with the true values in the original dataset.